.CourseTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    line-height: 40px;
    color: #001D38;
    margin-bottom: 30px;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.CourseContent {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.CourseImg {
    margin-left: 15%;
    object-fit: none; 
    object-position: center; 
    max-width: 40%;
}

.CourseHighLight{
    display: inline;
    font-weight: bold;
}

.CourseDesc {
    justify-content: center;
    align-items: center;
    margin-right: 15%;
    margin-left: 4%;
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
    .CourseTitle {
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin-bottom: initial;
        margin: initial;
        margin-top: 20px;
    }

    .CourseContent {
        display: initial;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .CourseImg {
        margin-left: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        object-fit: contain; 
        object-position: initial; 
        max-width: 80%;
    }

    .CourseDesc {
        justify-content: center;
        align-items: center;
        margin-right: 5%;
        margin-left: 5%;
        font-size: 1rem;
        line-height: 1.3rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}