.formCard{
    margin-bottom: 10px;
}

.newsContent{
    display: grid;
    grid-template-columns: 10% 8% 62% 20%;
    grid-gap: 30px;
    margin-bottom: 300px;
}

.newsYear{
    grid-column: 2;
}

.newsItem{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.newsStrong{
    font-weight: bold;
    display: inline;
}

.newsItem a{
    color: #1371ffd5;
}

.newsHighLight{
    color: red;
    display: inline;
}

.tab-button{
    font-family: 'Poppins-R', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 80px;
    color: #001D38;
}

.selectedButton{
    color: #FF3414;
}

.newsInfo {
    padding-top: 25px;
}

.newsCards {
    display: flex;
}

@media screen and (max-width: 480px) {
    .newsContent{
        display: initial;
        grid-template-columns: initial;
        grid-gap: 10px;
        margin-bottom: 50px;
    }

    .newsCards {
        display: flex;
        flex-wrap: wrap;
    }

    .newsAll {
        margin: 0 20px;
    }
    
    .newsYear {
        margin: 0 50px;
    }

    .tab-button {
        margin-left: 25px;
    }
}
