.pageNav{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 0vh;
}

.pageNavBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.formCard{
    margin-bottom: 10px;
}

.publicationsTitle{
    font-family: 'Poppins-R', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #191D34;
    margin-left: 15%;
}

.publicationsYear{
    font-family: 'Poppins-R', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-left: 15%;
    margin-top: 80px;
}

.publicationsContent{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.publicationsItem{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.publicationsStrong{
    font-weight: bold;
}

.publicationsItem a{
    color: #1371ffd5;
}