.labTitle {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    font-family: 'Poppins-L', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    word-wrap: break-word;
    margin-left: 4%;
    
}

.labLogo{
  width: auto;
  height: 80%;
  margin-left: 10%;
}

.headerOSULogo {
  height: 80px;
  margin-left: auto;
}

.headerOSULink {
  margin-left: auto;
}


.headerBox {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 3%;
  padding-right: 10%;
}

.ant-menu {
  height: 80px;
  font-weight: bold;
  background-color: rgb(242, 242, 242);
}

.ant-menu-submenu-popup .ant-menu { 
  overflow: hidden !important; 
  height: 270px;
}

.floatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

@media screen and (max-width: 480px) {
  .labLogo{
    margin-left: 3%;
  }

  .headerOSULogo {
    display: none;
  }
  
  .headerBox {
    position: fixed;
    top: 0;
    padding-right: 4%;
    z-index: 9999;
  }

  .headerBtn {
    height: 50px;
    width: 80px;
  }

  .navBarContent {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
  }

  .navBarContent a{
    margin-bottom: 30px;
  }

  .childrenNavContent {
    margin-top: 45px; 
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 30px;
  }
}