.rectangle1 {
    width: auto;
    height: 235px;
    background-color: #272626;
}

.redLine {
    margin-top: 15px;
    width: auto;
    height: 4px;
    background-color: #f10303;
}

.OSULogo {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    line-height: 45px;
    font-family: Trajan Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: auto;
    height: 32px;
    padding-left: 5%;
    flex-direction: column;
}

.labTitle {
    color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: bold;
    font-family: 'Poppins-L', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    height: 2rem;
    margin-left: 40px;
    word-wrap: break-word;
    
}

.smallLogo{
  width: 30px;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
}

.labLogo{
  width: auto;
  height: 80%;
  margin-left: 10%;
}

.labBlock{
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.headerBox {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.ant-menu {
  height: 80px;
  font-weight: bold;
}