.labTitle {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    font-family: 'Poppins-L', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    margin-left: 3%;
    word-wrap: break-word;
    
}

@media screen and (max-width: 480px) {
  .headerOSULogo {
    display: none;
  }
}

.labLogo{
  width: auto;
  height: 80%;
  margin-left: 10%;
}

.headerOSULogo {
  height: 80px;
  margin-left: auto;
}


.headerBox {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 10%;
}

.ant-menu {
  height: 80px;
  font-weight: bold;
  background-color: rgb(242, 242, 242);
}

.ant-menu-submenu-popup .ant-menu { 
  overflow: hidden !important; 
  height: 225px;
}

