.talkYear{
    font-family: 'Poppins-R', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 200px;
}

.talkContent{
    margin-left: 250px;
    margin-top: 40px;
    margin-bottom: 90px;
}

.talkItem{
    display: flex;
    font-size: 20px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.talkStrong{
    margin-left: 20px;
    font-weight: bold;
}

.talkIcon{
    height: 32px;
}

.talkIcon_left{
    height: 32px;
    width: 32px;
    margin-left: 4px;
}

.talkItem a{
    color: #1371ffd5;
}

@media screen and (max-width: 480px) {
    .talkYear{
        font-size: 2rem;
        line-height: 2rem;
        margin-left: 20px;
        margin-top: 30px;
    }

    .talkContent{
        width: 350px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .talkItem{
        display: initial;
        font-size: 1rem;
        line-height: 1.3rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 40px;
    }
    
    .talkItem a{
        color: #1371ffd5;
        font-size: 1rem;
    }

    .talkStrong {
        margin-left: 5px;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }

    .talkIcon_left {
        margin-top: 30px;
    }

    .talkIcon_left_special {
        margin-top: 30px;
    }

    .YoutubeIcon {
        margin-left: 10px;
    }
}