.joinContent{
    display: grid;
    grid-template-columns: 10% 20% 50% 20%;
    grid-gap: 60px;
    margin-top: 20px;
    margin-bottom: 300px;
}

.openings{
    grid-column: 2;
}

.oepningsTitle{
    font-family: 'Poppins-L', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 90px;
    color: #001D38;
}

.tab-button{
    font-family: 'Poppins-R', sans-serif;
    font-size: 16px;
    line-height: 80px;
    color: #001D38;
}

.application{
    grid-column: 3;
    font-family: Arial, Helvetica, sans-serif;
    color: #596672;
    font-size: 17px;
    line-height: 20px;
    word-spacing: 0.2em;
}

.applicationTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    line-height: 40px;
    color: #001D38;
}

.selectedButton{
    color: #FF3414;
}