.JoinContent {

}

.JoinTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #001D38;
    margin-bottom: 10px;
}

.JoinDesc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 60px;
}

.JoinSubTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #001D38;
}

.JoinHighLight {
    display: inline;
    font-weight: bold;
}

.JoinAdsLink {
    color: blue;
}

.JoinContainer{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 400px;
}

.JoinLabLogo{
    max-width: 300px;
}

@media screen and (max-width: 480px) {
    .JoinContainer{
        display: initial;
        margin: initial;
        max-width: 480px;
        margin-bottom: 200px;
        margin-top: 30px;
    }

    .JoinContent {
        margin: 0 20px;
        padding-top: 30px;
    }

    .JoinLabLogo{
        max-width: 380px;
    }
}