.footerBox{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    
}

.footerContent{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.lineFooter {
    width: 100%;
    height: 2px;
    background-color: #dfe3e5;
    margin-top: 40px;
}

.footerLogo{
    margin-bottom: 16px;
}

.footerLogo img{
    width: 270px;
}

.footerAddr {
    margin-top: 40px;
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: 'Poppins-L', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.footerAddrTitle {
    font-weight: bold;
}

.footerLink{
    font-size: 0.8rem;
    margin-left: auto;
    text-decoration: underline;
}

.footerRight {
    margin-left: auto;
    font-size: 0.8rem;
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.footerSpacer {
    height: 50px;
}
