.imageContainer {
    width: 100%;
    height: 160px; 
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}


.imageTitle {
  position: relative;
  color: crimson;
}

.imageTitle{
    font-size: 3rem;
    font-family: 'Poppins';
    font-weight: bold;
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 480px) {
    .imageContainer{
        margin-top: 125px;
        height: initial; 
        line-height: 3.5rem;
        overflow: initial;
        position: initial;
        align-items: initial;
        display: flex;
    }

    .imageTitle {
        margin: 0 auto;
        width: 340px;
        text-align: center;
    }
}