.homeContainer {
    display: grid;
    grid-template-columns: 10% 55% 5% 20% 10%;
}
  
.mission {
    grid-column: 2;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #596672; */
    font-size: 17px;
    line-height: 25px;
}


.missionTitle{
    font-family: 'Poppins-R', sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: crimson;
}

.missionContent {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #165dba41;
    border-radius: 4px;
    padding: 19px;
}

.missionContent:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
  
.homeAchievement {
    grid-column: 2;
    grid-row: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 25px;
}

.homeAchievementTitle {
    font-family: 'Poppins-R', sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: crimson;
}

.homeAchievementContent {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #165dba41;
    border-radius: 4px;
    padding: 19px;
}

.homeAchievementContent:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.homeSocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.homeSocialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0a0aa3;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 15px;

    box-shadow: 1px 2px 4px rgba(214, 49, 49, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homeSocialIcon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.news {
    word-wrap: break-word;
    grid-column: 4;
    grid-row: 1 / span 2;
    font-family: Arial, Helvetica, sans-serif;
    color: #596672;
    font-size: 13px;
    margin-top: 70px;

}


.homeNews {
    margin-bottom: 100px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #165dba41;
    border-radius: 4px;
    padding: 19px;
}

.homeNews:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.new {
    margin-bottom: 30px;
}
  
.homeNewsTitle {
    font-family: 'Poppins-R', sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: crimson;
}

.newDate {
    color: gray;
    font-style: italic;
    font-size: 17px;
    margin-bottom: 10px;
}

.newContent {
    line-height: 20px;
}

.newContent a {
    color: #1371ffd5;
}

.homeNewsLink{
    color: #1371ffd5;
    font-size: 17px;
}

.homeResearch {
    grid-column: 2/ span 3;
    grid-row: 3;
}

.researchBlocks {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.researchBlock {
    min-height: 300px;
    margin-bottom: 20px;
    border-radius: 4px;
    margin: 0 10px;

    text-align: center;
    font-family: 'Poppins-R', sans-serif;
    font-size: 1rem;
    font-weight: bold;

    align-items: center;
    display: flex;
    flex-direction: column;
}

.researchBlockTitle {
    height: 20px;
}

.researchBlock img {
    padding-top: 40px;
    max-width: 250px;
}

.homeResearchTitle{
    font-family: 'Poppins-R', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: crimson;
}

.collection {
    grid-column: 2;
    grid-row: 2;
}

.homeSponsor {
    grid-column: 2/ span 3;
    grid-row: 4;
}

.homeSponsorTitle {
    font-family: 'Poppins-R', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: crimson;
    font-weight: bold;
}

.homeSponsor img{
    width: 80%;
    margin: 0 auto;
}

.missionHighLight {
    display: inline;
    font-weight: bold;
}

@media (max-width: 1500px) {
    .homeSponsorItem {
      height: 40px; /* 缩小为80% */
    }
  }
