.projectContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projectPanel {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;
    grid-gap: 20px;
    width: 70%;
    height: 500px;
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 30px;
}

.projectPanelImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

.projectPanelImg {

}

.projectPanelTextContainer {
    margin: auto 0;
    grid-column: 2;
    grid-row: 2;
}

.projectPanelTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #001D38;

    padding-top: 20px;
    padding-left: 20px;
    grid-column: 1 / span 2;
}

.projectPanelContent {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #505152;
    margin-top: 10px;


}