.newsCard {
    width: 250px;
    height: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 30px;
}

.newsCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.newsCardImgContainer {
    height: 150px; /* 设置容器的固定高度 */
    overflow: hidden; /* 隐藏超出容器高度的内容 */
    position: relative; /* 相对定位，用于调整图像位置 */
}

.newsCardImg {
    position: absolute; /* 绝对定位，用于调整图像位置 */
    top: 50%; /* 将图像上边缘与容器的中心对齐 */
    transform: translateY(-50%); /* 向上移动图像的一半高度 */
    width: 100%; /* 图像宽度适应容器宽度 */
}

.newsCardTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #001D38;
    margin-top: 20px;
}

.newsCardDate {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #022546;
    margin-top: 10px;
}

.newsCardContent {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #505152;
    margin-top: 10px;
}