.newsCard {
    width: 250px;
    height: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 30px;
}

.newsCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.newsCardImgContainer {
    height: 150px; 
    overflow: hidden; 
    position: relative;
}

.newsCardImg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 100%;
}

.newsCardTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #001D38;
    margin-top: 20px;
}

.newsCardDate {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #022546;
    margin-top: 10px;
}

.newsCardContent {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #505152;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .newsCard {
        width: 250px;
        height: 500px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-left: 70px;
    }
    
}